.table {
    display: table;
    width: 80vw;
    background-color: antiquewhite;
    margin: 5% auto;
}

.table-row {
    display: table-row;
}

.table-row:nth-child(odd) {
    background-color: khaki;
}

.table-cell {
    display: table-cell;
    padding: 15px;
    border: 2px solid darkslategrey;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.table-heading {
    display: table-header-group;
    color: coral;
}

.table-heading .table-cell {
    font-size: 25px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.table-caption {
    display: table-caption;
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    font-variant: small-caps;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
}

body {
    background-color: floralwhite;
}